@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  background-color: #FFFCF5;
}
.section-padding {
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
  box-sizing: border-box;
}

:root {
  --lwyd-yellow: #ffcc00;
  /* page side padding — change here to adjust every page */
  --side-padding: 1.25rem;
}

@media (min-width: 768px) {
  :root {
    --side-padding: 4rem;
  }
}

.text-lwyd-yellow {
  color: var(--lwyd-yellow);
}

.bg-lwyd-yellow {
  background-color: var(--lwyd-yellow);
}


/* hide scroll bar when no need */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
